/**
* Hi curious student! :)
* This a CSS Trick to keep the footer at the bottom.
* Find out more modern CSS tricks at:
* https://moderncss.dev/
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: rgb(234, 239, 248);
  --secondary: rgba(187, 241, 255, 0.4);
  --tertiary: rgba(233, 251, 255, 0.6);
}
#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
#__next > main {
  margin: 1rem auto 0;
  max-width: 80ch;
}
body {
  /* background-color: #f9f9f9; */
  /* background-color: #f5f5f5a3; */
  background-color: #f1f6ffa3;
}

*::-webkit-scrollbar {
  width: 10px;
  display:none
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
